.l-main
    height: 100%;
    padding: 0;
.l-header
    width: 100%;
    height: 90px;
    position: fixed;
.l-body
    width: 100%;
    height: 100%;
    padding-top: 90px;
.l-menu
    width: 10%;
    float: left;
    height: 100%;
.l-content
    width: 90%;
    float: left;
    height: 100%;
    padding: 10px 0 0 15px;
.l-view
    height: 92%;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
