/*-------------------------------------------------
SMACSS: VARIABLES
-------------------------------------------------*/
/* Colors */
$color-red-primary = #fc6969;
$color-red-secondary = #e60012;
$color-gray-primary = #f5f5f5;
$color-gray-secondary = #4b4e5b;
$color-white = #fff;

/* Font */
$font-yahei = '微软雅黑', 'Arial', sans-serif;
