.organization
    font-size 14px
    font-family '微软雅黑'
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
        padding 0 10px
    .row
        margin 10px 10px 0 0
    .panel
        width 100%
        height 400px
        box-shadow 1px 1px 1px 1px #dcdcdc
        border-radius 2px
        margin 10px 0 0 0
    .form-horizontal
         margin 20px 0 0 0
        .control-label
            line-height 30px
            font-weight normal
        .form-control
            height 30px
            float left
            width 45%
            border-radius 0
        .organization-search
            width 85% !important
        .btn-organization
            width 10% !important
            height 30px !important
            margin: 0 0 0 10px !important
            padding-bottom: 5px !important
            background-color #fff !important
            font-weight bold
            padding 0
            border-radius 0
        .time-input-start
            border 1px solid #9ab26b
        .time-input-end
            border 1px solid #9ab26b
        .organization-span
            display inline-block
            width 5%
            float left
            margin 0 5px
            padding-top 5px
        .organization-img
            float left
            margin-left -24px
            padding-top 5px
    .organization-button
        text-align center
        margin-top 45px
        .btn-default
            background-color #f5f5f5
            padding 0
            width 60px
            height 30px
            margin 2px
        .btn-default:focus
            background-color #e60012
            color #fff
            border 0
            outline none //点击button之后会有蓝色的边框，将边框去掉
    //右边图片的标题
    .organization-title
        font-weight 400
        font-size 16px
        border-bottom 1px solid #dcdcdc
        padding-bottom 10px
    .organization-flag
        width 10px
        height 20px
    //下面的table样式
    .table-striped
        background-color #fff2f2
    .table-striped
        tbody
            tr:nth-of-type(odd)
                background-color #fff
    .table-hover
        tbody
            tr:hover
                background-color #ccc
    .table
        th
            background-color #fc6969
            font-size 16px
            color #fff
            text-align center
        td
            text-align center
    .organ-img
        width 75%
        margin-top -10px
        margin-left 20px

