.viewSurvey
    .text-label
    .text-tag-div
        background-color: #fffae5
    .button-produce
        display: inline-block;
        .button
            border-color:$color-red-secondary;
            background-color: $color-red-secondary;
            color: #fff;
