.viewSurvey
    margin: 10px;
    .text-row
        padding-bottom: 10px;
        margin-left: -26px;
    .head-div
        margin-left: 8px;
        width:14%;
        height:140px;
        display: inline-block;
        .head-div-img
            border:2px solid #ccc;
            padding:5px;
            height:100%;
            vertical-align:top;
            width: 100%;
    .text-row-a
        width:34%
    .text-row-b
        width: 30%
    .text-lable
        font-size: 12px;
        display: inline-block;
        padding-bottom: 10px;
        .text-lable-name
            width: 40%;
            text-align: right;
            display: inline-block;
        .text-lable-value
            display: inline-block;
    .text-label-div-span
        margin-left: 18px;
        width: 12%;
        display: inline-block;
        text-align: right;
        font-size: 12px;
    .text-label-data
        text-align: left;
        padding-left: 0px;
        margin-left: -5px;
    .text-tag-div
        padding: 5px;
        text-align: center;
        margin: 5px;
        display: inline-block;
        font-size: 12px;
    .text-produce
        font-size: 12px;
        display: inline-block;
    .no-padding
        padding-left: 0px;
        padding-right: 0px;
    .more
        display: inline-block;
        padding: 5px;
        border-radius: 5px;
        background: #ccc;
        cursor: pointer;
        font-size: 12px;
    .history-list
        .list-group-item
            border-left: none;
            border-right: none;
            .badge
                float:left;
                margin-right: 5px;
                margin-left: -10px;
                background-color: #cccccc;
        .list-group-item:first-child
            border-top: none;
            border-top-right-radius:0px
            border-top-left-radius:0px
        .list-group-item:last-child
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
    .history-title
        background-color: #F3FAFF;
        padding: 10px 0px;
        text-align: center;
        color: #1DB0ED;
        .history-title-first
            width: 49%;
            display: inline-block;
            border-right: 1px solid #ccc;
        .history-title-last
            display: inline-block;
            width: 49%;
    .history-panel
        .panel-body
            padding: 0px;
            min-height: 405px;
