.cfo-tab-item
    padding-left:4%;
    padding-right:5%;
    color: $color-white;
    font-size:15px;
    line-height :45px;
    border-radius: 15px 15px 0 0;
    margin-left:-28px;
    height:45px;
.selected
    background-image:url("./images/tab-btn-02.png") !important;
    color: #000;
    position:relative;
.item-piece
    margin-left :0;
