.tabs
    border: solid 1px white;
    overflow: auto;
    width:100%;
    .cfo-tab
        width:100%;
        .cfo-tab-item
            background-size: 100% 100%;
            background-repeat :no-repeat;
            display:inline-block;
        .unselected
            background-image:url("./images/tab-btn-01.png");
        .odd
            background-image:url("./images/tab-btn-03.png");
    .cfo-tab-body
        //position:auto;
        background-color: #f5f5f5;
