.header
    padding: 15px 0;
    .header-item
        float: left;
    .header-item-logo
        width: 13%;
    .header-item-platform-name
        width: 20%;
        margin-top: 3px;
        margin-left: 5px;
