.target-customer
    .inner-outer
        padding: 15px;
        font-size: 12px;

    .height-2
        line-height: 74px;

    .height-3
        line-height: 111px;

    .height-7
        line-height: 269px;

    .vertical-center
        //line-height:32px;
        text-align: center;
        //width: auto;
        display: table;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ffffff;

    .margin-15
        margin: 0 15px 0 15px;

    .margin-0
        margin: 0;

    .title-lft-red
        background-color: #f74042;

    .title-in-pink
        background-color: #ff6f6f;

    .title-lft-grey
        background-color: grey;

    .red-block
        width: 12px;
        height: 32px;
        float: left;
        background-color: #f74042;

    .label-sub-title
        float: left;
        padding-left: 10px;

    .under-line-row
        color: black;
        .block-div
            height: 32px;

    .under-line
        border-bottom: 1px dotted grey;
        padding-bottom: 5px !important;

    .text-color
        color: #fff;
        font-weight: normal;

    .form-group
        line-height: 32px
        input
            border-radius: 0;
            margin: 5px
            height: 27px
        button
            height: 27px
            margin: 5px
            padding: 2px 10px
        select
            border-radius: 0
            margin: 5px
            height: 27px

    .ipt-back
        background-color: #f6f6f6;
        padding-left: 0;
        border: 1px solid #ffffff;

    .ipt-back-white
        background-color: #f6f6f6;
        padding-left: 0;
        border: 1px solid #ffffff;

    .mg-b-0
        margin-bottom: 0 !important;

    .pd-0
        padding: 0;

    .table
        border: 1px solid white;
        font-weight: normal;
        th
            border: 1px solid white;
            font-weight: normal;
            text-align: center;
            vertical-align: middle !important;
        td
            border: 1px solid white;
            font-weight: normal;
            text-align: center;
            vertical-align: middle !important;
            //background-color:
        .table-head
            background-color: #f6696b;
            color: white;
