.container
    padding: 15px;

.marketActivity
    .row
        margin-top: 10px;

    .red-block
        width: 10px;
        height: 20px;
        float:left;
        border-radius: 2px 0 0 2px;
        background-color: #f74042;
        margin-top: 8px;

    .label-sub-title
        float: left;
        padding-left: 7px;

    .height-1
        height: 37px;
        line-height 37px;
        overflow: hidden;

    .bottom-dotted-line
        border-bottom: 1px dotted #ebebeb;

    .bottom-solid-line
        border-bottom: 1px solid #ebebeb;

    .padding-horizontal-0
        padding-left: 0;
        padding-right: 0;

    .right-btn
        float: right;

    .inner-row
        padding: 0 10px 0 10px;

    .funnel-block
        height: 450px;
        border: 1px solid #ebebeb;
        padding: 0 2px 0 2px;
        margin-left: 0;
        margin-right: 0;

    .row-center
        text-align:center;

    .select-right
        margin-top:5px;

    .control-label
        font-weight:normal;
        font-size:12px;
    .table
        border: 1px solid white;
        font-weight: normal;
        th
            border: 1px solid white;
            font-weight: normal;
            text-align: center;
            vertical-align: middle !important;
        td
            border: 1px solid white;
            font-weight: normal;
            text-align: center;
            vertical-align: middle !important;
            //background-color:
        .table-head
            background-color: #f6696b;
            color: white;
