.tree-col
    .btn
        margin-right: 8px;
        border-radius:10px !important;
    .btn-xs, .btn-group-xs > .btn
        padding:1px 8px;
    .angular-ui-tree-handle
        padding: 10px 10px;
    .angular-ui-tree-placeholder
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    tr.angular-ui-tree-empty
        height:100px
    .tree-node
        border-top:none;
        border-left:none;
        border-right:none;
    .tree-handle
        padding: 10px;
        margin-right: 10px;
    .angular-ui-tree-placeholder
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
