.panel
    .panel-hide
        display:none;
    .panel-heading
        padding:10px 10px;
        font-weight:bold;
        height:50px;
        .panel-title
            font-size: 20px;
            .panel-left
                .panel-img
                    background:url('./imgs/red-icon.png')  no-repeat;
                    margin-right:10px;
                    width: 20px;
                    height: 30px;
                    background-size: 100% 100%;
                    float: left;
            .panel-right
                 display: inline-block;
                 float: right;
                 position: relative;
                 top: -10px;
    .panel-portlet
         border:1px solid #cccccc;
.no-border
    border-radius:0px;
    -webkit-box-shadow: 1px 1px 1px 1px;
    -moz-box-shadow: 1px 1px 1px 1px;
    box-shadow: 1px 1px 1px 1px #ccc;
    .panel-heading
        border-bottom:1px solid #cccccc;
